@media only screen and (min-width: 0px) and (max-width: 767px){
  .checkoutForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(30deg,  #FF00DF 10%, #fff 94%);
    padding: 20px;
    border-radius: 1rem;
    position: relative;
    bottom: 120px;
  }
  
  .checkoutForm input, select {
    width: 80%;
    height: 2.5rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    color: #8083bb;
  }
  ::placeholder {
    color: #8083bb;
  }
  .errorInput {
    color: #8083bb;
    font-size: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffff49;
    width: 15rem;
    padding: 1rem;
    border-radius: 1rem;
  }
  .btn-order {
    width: 10rem;
    height: 2rem;
    margin: 2rem;
    padding: .5rem;
    color: #fff;
    background-color: var(--color-white);
    font-size: .6rem;
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: .3rem;
    text-decoration: none;
  }
}
@media only screen and (min-width: 768px) {
  .checkoutForm input, select {
    width: 50%;
    height: 2.5rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    color: #8083bb;
  }
}
@media only screen and (min-width: 1240px){
  .checkoutForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(30deg,  #FF00DF 10%, #fff 94%);
    padding: 20px;
    border-radius: 1rem;
    position: relative;
    bottom: 120px;
  }
  
  .checkoutForm input, select {
    width: 80%;
    height: 2.5rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    color: #8083bb;
  }
  ::placeholder {
    color: #8083bb;
  }
  .errorInput {
    color: #8083bb;
    font-size: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffff49;
    width: 15rem;
    padding: 1rem;
    border-radius: 1rem;
  }
  .btn-order {
    width: 10rem;
    height: 2rem;
    margin: 2rem;
    padding: .5rem;
    color: #fff;
    background-color: var(--color-white);
    font-size: .6rem;
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: .3rem;
    text-decoration: none;
  }
  
}