.bg-dark-color{
     background-color: #FFD7FA;
  }
  @media only screen and (min-width: 1240px){
    .logo{
      width: 15%;
      height: 15%;
      border-radius: 20px;
      position: relative;
      right: 150px;
    }
    .NavBar{
      text-decoration: none;
      position: relative;
      left: 280px;
      font-weight: bold;
      font-size: 25px;
      color: black;
    }
    .Carrito{
      text-decoration: none;
      font-weight: bold;
      font-size: 25px;
      color: black;
    }
  }

  /*vista mobile*/
@media only screen and (min-width: 0px) and (max-width: 767px){
  .nav{
    font-weight: bold;
    font-size: 20px;
    color: black;
  }
  .logo{
    width: 35%;
    height: 35%;
    border-radius: 20px;
 
  }
}