
@media only screen and (min-width: 0px) and (max-width: 360px){
  .logo{
    width: 60%;
    height: 60%;
  }
  .logo:hover {
    transform: scale(1.2);
  }
  .headerL {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFD7FA;
    color: #fff;
    position: relative;
   
  }
  .link{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 2.0rem;
    font-weight: 700;
    font-size: 2.5rem;
    font-weight: 500;
    position: relative;
    top: 25px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 767px){
  .logo{
    width: 80%;
    height: 80%;
  }
  .logo:hover {
    transform: scale(1.2);
  }
  .headerL {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #FFD7FA;
    color: #fff;
    position: relative;
    margin-bottom: 60px;
  }
  .link{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 2.0rem;
    font-weight: 700;
    font-size: 2.5rem;
    font-weight: 500;
    position: relative;
    top: 25px;
  }
}




@media only screen and (min-width: 1240px){
    .logo {
        width: 14rem;
        height: 14rem;
        margin: 0.9rem;
 
      }
      .cartL {
        text-decoration: none;
        color:black; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5rem;
       
        
      }
      
      .cartL:hover {
        color:white;
        transform: scale(1.1);
        transition: .6s;
      }
      
      .link{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        font-size: 2.0rem;
        font-weight: 700;
        font-size: 2.5rem;
        font-weight: 500;
        position: relative;
        bottom: 60px;
        left: 50px;
      
      }
      .headerL {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #FFD7FA;
        color: #fff;
      }
        
}

