.logo{
  width: 30%;
  height: 30%;
}
.logo:hover {
  transform: scale(1.2);
}
@media only screen and (min-width: 768px) {

  .headerL {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #FFD7FA;
    color: #fff;
    
   
  }
  .innerHeader {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--color-terciario);
    color: #fff;
    font-size: 2.0rem;
    font-weight: 700;
    position: relative;
    bottom: 10px;
    left: 500px;
  }
  .cartL {
    text-decoration: none;
    color:black; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    
  }
  
  .cartL:hover {
    color:white;
    transform: scale(1.1);
    transition: .6s;
  }

 
}

@media only screen and (min-width: 1240px){
    .logo {
        width: 14rem;
        height: 14rem;
        margin: 0.9rem;
 
      }
      .cartL {
        text-decoration: none;
        color:black; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5rem;
        
      }
      
      .cartL:hover {
        color:white;
        transform: scale(1.1);
        transition: .6s;
      }
      .innerHeader {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background-color: var(--color-terciario);
        color: #fff;
        font-size: 2.0rem;
        font-weight: 700;
        position: relative;
        bottom: 10px;
        left: 5px;

     
      }
}

